@using Mandor.AI;
@inject IJSRuntime JS

<div id="graph" style="position: fixed; z-index: -1; width: 100%; height: 100%"></div>

@code {
    Thread looping = null;
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender)
            return;

        //JS.InvokeVoidAsync("console.log", "hewo");
        await JS.InvokeVoidAsync("inicGraph");
        if (looping == null) {
            looping = new Thread(async () => {
                while (true) {
                    await Task.Delay(1000);
                    await JS.InvokeVoidAsync("resizeGraph");

                    if (Master.Singleton.Memory.MemoryChanged)
                        await JS.InvokeVoidAsync("setGraphData", Master.Singleton.Memory.GetGraphData());
                }
            });
            looping.Start();
        }
    }
    }
    
}